<div id='<%=  @id_text %>'>
  <div class="toolbar">
    <a class="back fade" href="#home">Back</a>
    <a href="/help?txt=<%=  @title_text %>" class="button slideup">Help</a>
    <h1><%=  @title_text %></h1>
  </div>

  <p class="coming"><strong>
      Coming Soon.
    </strong><br /><br />
    This area contains the details about the particular topic, in this case,<br /><br />
    <strong><%= @title_text %></strong>.  <br /><br />These sections will get worked on independently.
  </p>

  <div class="info">
    Managed by <%= $ORG_NAME  %> <a href="/mobileabout/" class="target_padding flip"><img src="/themes/brownell/webkit/images/info.png" height="16" width="16" border="0" class="info_img" alt="info graphic" /></a>
  </div>
</div><!-- Add other pages below -->
